<!DOCTYPE html>
<!-- 
  @param {string} title
  @param {string} children
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>o(m)g:image</title>
    <!-- prettier-ignore -->
    <style>
      ${../styles/reset.css}
      ${../styles/index.css}
    </style>
  </head>
  <body>
    <header>
      <h1><a href="/">${./logo.svg}</a></h1>
      <p>A quiz of article images pulled from the web.</p>
      <p>
        <a href="">Hot take</a>: every article on the internet doesn’t need an
        image to represent it.
      </p>
    </header>
    <main>${_}</main>
  </body>
</html>
