<!-- 
@param {Object} _
@param {string} _/title
@param {string} _/head
@param {string} _/children
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>o(m)g:image${@if(_/title, ` | ${_/title}`)}</title>
    <link rel="stylesheet" href="/index.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😱</text></svg>"
    />

    <!-- A site about bad meta? We'll have it too -->
    <meta property="og:title" content="o(m)g:image" />
    <meta
      property="og:description"
      content="Questioning the notion that every web page in the world should be
summarized by an image."
    />
    <meta
      property="og:image"
      content="https://omgimg.jim-nielsen.com/preview.png"
    />
    <meta property="og:url" content="https://omgimg.jim-nielsen.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="o(m)g:image" />
    <meta
      name="twitter:description"
      content="Questioning the notion that every web page in the world should be summarized by an image."
    />
    <meta
      name="twitter:image"
      content="https://omgimg.jim-nielsen.com/preview.png"
    />

    ${_/head}
  </head>
  <body>
    <main>${_/children}</main>
    <footer>
      <h1><a href="/">${../svgs/logo-2.svg}</a></h1>
      <p>
        Can you identify real articles pulled from the web based solely on their
        social share images?
        <br />
        <a href="">A project by Jim Nielsen</a>.
      </p>
    </footer>
  </body>
</html>
