<nav class="nav">
  <a
    href="/questions/${_/prevQuestionId}/"
    class="nav__arrow nav__arrow--prev"
    title="Previous question"
    aria-label="Previous question"
  >
    ${svgs/iconChevronLeft.svg}
  </a>
  
  <!-- prettier-ignore -->
  ${@map(_/questions, (q) => 
    `<a
    href="/questions/${q/id}/"
    class="nav__number"
    ${@if(q/isCurrentPage, 'aria-current=page')}
    aria-label="Question ${q/id}"
    >${q/id}</a
  >`)}

  <a
    href="/questions/${_/nextQuestionId}/"
    class="nav__arrow nav__arrow--next"
    title="Next question"
    aria-label="Next question"
  >
    ${svgs/iconChevronRight.svg}
  </a>
</nav>
