<!-- 
@param {Object} _
@param {string} _/questionId
@param {Array<{ id: string, text: string }>} _/answers
-->

<div class="h">
  <h1 class="heading">Guess the article</h1>
  <p class="h__status">${_/questionId} of ${@length(_/answers)}</p>
</div>

<div class="card social-preview social-preview--masked">
  <img
    src="/og-images/${_/questionId}.jpg"
    alt=""
    width="400"
    height="260"
    class="social-preview__image"
  />
  <div class="social-preview__content">
    <p>???</p>
    <cite>???</cite>
  </div>
</div>

<!-- prettier-ignore -->
<ul class="card answers">
    ${@map(_/answers, (answer) => `
      <li>
        <a
          href="/questions/${_/questionId}/answers/${answer/id}/"
          class="answers__item answers__item--selectable">
          ${answer/text}
          ${../svgs/iconCircle.svg}
        </a>
      </li>
    `)}
  </ul>
