<!-- 
@param {Object} _
@param {string} _/questionsById
@param {string} _/questionId
-->

<h1>Guess the article</h1>

<div class="social-card social-card--masked">
  <img
    src="/og-images/${_/questionId}.jpg"
    alt=""
    width="400"
    height="260"
    class="social-card__image"
  />
  <div class="social-card__content">
    <p>???</p>
    <cite>???</cite>
  </div>
</div>

<!-- prettier-ignore -->
<ul class="answers-list">
  ${@map(
    _/questionsById(_/questionId)/answersById,
    (answer, answerId) => `
      <li>
        <a href="/questions/${_/questionId}/answers/${answerId}">
          ${answer}
        </a>
      </li>
    `
  )}
</ul>
