<div class="h">
  <a
    href="/questions/${_/prevQuestionId}/"
    class="h__nav h__nav--prev"
    title="Previous question"
    ${@if(@equals(_/$questionId, '1'),
    'style="opacity: 0; visibility: hidden" aria-hidden="true"',
    'aria-label="Previous question"')}
  >
    ${svgs/iconChevronLeft.svg}
  </a>
  <h1 class="h__title">
    What’s the article?
    <span>${_/$questionId} / ${(_/totalNumberOfQuestions)}</span>
  </h1>
  <a
    href="/questions/${_/nextQuestionId}/"
    class="h__nav h__nav--next"
    title="Next question"
    aria-hidden="true"
    style="opacity: 0; visibility: hidden"
  >
    ${svgs/iconChevronRight.svg}
  </a>
  <!-- <p class="h__nav">${_/$questionId} of ${(_/totalNumberOfQuestions)}</p> -->
</div>

<div class="card social-preview social-preview--masked">
  <img
    src="/og-images/${_/$questionId}.jpg"
    alt="${_/imgAlt}"
    width="400"
    height="260"
    class="social-preview__image"
  />
  <div class="social-preview__content">
    <p>???</p>
    <cite>???</cite>
  </div>
</div>

<!-- prettier-ignore -->
<ul class="card answers">
    ${@map(_/answers, (answer) => `
      <li>
        <a
          href="/questions/${_/$questionId}/answers/${answer/id}/"
          class="answers__item answers__item--selectable">
          ${answer/text}
          ${../svgs/iconCircle.svg}
        </a>
      </li>
    `)}
  </ul>
