<div class="h ${@if(@equals(_/nextQuestionId, '1'), 'h--end')}">
  <!-- prettier-ignore -->
  <h1 class="
    h__title
    h__title--${@if(_/isCorrect, 'correct', 'incorrect')}">
    ${@if(_/isCorrect, `Correct!`, `Incorrect`)}
  </h1>
  <a href="/questions/${_/nextQuestionId}/" class="h__status">
    ${@if(@equals(_/nextQuestionId, '1'), 'Start over', 'Next')}
  </a>
</div>

<div class="card">
  <a href="${_/questionUrl}" class="social-preview">
    <img
      src="/og-images/${_/$questionId}.jpg"
      alt="${_/imgAlt}"
      width="400"
      height="260"
      class="social-preview__image"
    />
    <div class="social-preview__content">
      <p>${_/questionAnswer}</p>
      <cite>${helpers/getDomainFromUrl.js(_/questionUrl)}</cite>
    </div>
  </a>
</div>

<!-- prettier-ignore -->
<ul class="card answers">
    ${@map(_/answers, (answer) => `
      <li class="
        answers__item
        ${@if(answer/isCurrent, 'answers__item--current')}
        ${@if(answer/isCorrect, 
          'answers__item--correct', 
          'answers__item--incorrect'
          )}
        ">
        ${answer/text}
        ${@if(answer/isCorrect, 
          svgs/iconCircleCheck.svg,
          @if(answer/isCurrent, svgs/iconCircleCross.svg)
        )}
      </li>
    `)}
  </ul>
