:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;

  /* Theme specific */
  --border-radius: 12px;
  --border-radius-outer: 18px;
  --max-content-size: 400px;

  --bg-layer-1: var(--gray-50);
  --bg-layer-2: white;
  --bg-layer-3: var(--gray-100);

  --color-text: var(--gray-900);
  --color-text-muted: var(--gray-500);
  --color-border: var(--gray-200);
  --color-shadow: var(--gray-300);
  --color-accent: #1d4ed8;
  --color-success: #16a34a; /* green-600 */
  --color-success-bg: #f0fdf4; /* green-50 */
  --color-error: #dc2626; /* red-600 */
  --color-error-bg: #fef2f2; /* red-50 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-layer-1: var(--gray-950);
    --bg-layer-2: var(--gray-900);
    --bg-layer-3: var(--gray-800);

    --color-text: var(--gray-50);
    --color-text-muted: var(--gray-600);
    --color-border: var(--gray-700);
    --color-shadow: var(--gray-950);
    --color-accent: #3b82f6;
    --color-success: #16a34a; /* green-500 */
    --color-success-bg: transparent; /* green-50 */
    --color-error: #dc2626; /* red-600 */
    --color-error-bg: transparent; /* red-50 */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: var(--color-accent);
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg-layer-1);
  color: var(--color-text);
}

footer {
  color: var(--color-text-muted);
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 16px;
}
footer h1 {
  opacity: 0.8;
}
footer h1 + p {
  font-weight: 600;
}
footer h1 + p + p {
  font-style: italic;
}
footer a {
  color: inherit;
}

main h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-layer-2);
  box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
  max-width: 480px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main header";
    align-items: center;
    padding: 0 16px;
    gap: 48px;
  }
  footer {
    grid-area: header;
  }
  footer > * {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    grid-area: main;
    gap: 24px;
    justify-self: flex-end;
    border-radius: var(--border-radius-outer);
    padding: 40px;
  }
}

.social-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  /* border: 1px solid #e0e0e0; */
  /* box-shadow: 0 0 0 1px inset #e0e0e0; */
  background-color: var(--bg-layer-3);

  width: 100%;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}
.social-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.social-card--masked .social-card__content {
  opacity: 0.2;
}
.social-card--masked p,
.social-card--masked cite {
  background: var(--color-text);
  text-indent: -100%;
  width: 90%;
  overflow: hidden;
  border-radius: 4px;
}
.social-card--masked cite {
  width: 30%;
}
.social-card__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.875rem;
}
.social-card__content p {
  font-weight: 700;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.social-card__content cite {
  opacity: 0.5;
  line-height: 1;
}

.answers {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 8px;
}
.answers__item {
  display: flex;
  padding: 8px 8px 8px 40px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: inherit;
  text-decoration: none;
  line-height: 1.4;
  align-items: center;
  position: relative;
}

.answers__item svg {
  width: 15px;
  height: 15px;
  margin-right: 16px;
  flex-shrink: 0;
  position: absolute;
  left: 16px;
  top: 12px;
  /* color: var(--color-text-muted); */
}
.answers__item:before {
  /* content: ""; */
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 16px;
  flex-shrink: 0;
}
a.answers__item:before {
  border: 1px solid var(--color-border);
}
a.answers__item:hover {
  background-color: var(--bg-layer-3);
  color: var(--color-accent);
  border-color: var(--color-accent);
}
a.answers__item:hover:before {
  border-color: var(--color-accent);
}

.answers__item--correct {
  color: var(--color-success);
  border-color: var(--color-success);
  background-color: var(--color-success-bg);
}
.answers__item--correct:before {
  /* content: url(/svgs/iconCheck.svg); */
}
.answers__item--incorrect {
  color: var(--color-text-muted);
}
.answers__item--current.answers__item--incorrect {
  color: var(--color-error);
  text-decoration: line-through;
  /* background-color: var(--color-error-bg);
  border-color: var(--color-error); */
}

.question-nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 8px;
  bottom: -40px;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;

  padding: 16px;
}
