/* =============================================================================
   Enable page transitions
   ========================================================================== */
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

/* =============================================================================
   Answer -> New Question social preview
   ========================================================================== */

/* Only transition when you go from answer -> new question */
a.social-preview .social-preview__content,
.social-preview--masked .social-preview__content {
  view-transition-name: social-preview;
}

/* Old stuff going out */
::view-transition-old(social-preview) {
  animation: fade 0.3s linear forwards;
}

/* New stuff coming in */
::view-transition-new(social-preview) {
  animation: fade 0.7s linear reverse;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* =============================================================================
   Next button
   ========================================================================== */

.header__next {
  view-transition-name: hidden-next;
}

/* Old stuff going out */
::view-transition-old(hidden-next) {
  animation: pop 0.3s ease-in-out forwards;
}

/* New stuff coming in */
::view-transition-new(hidden-next) {
  animation: pop 0.3s ease-in-out reverse;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0);
  }
}

/* =============================================================================
   Nav highlight
   ========================================================================== */

[aria-current="page"]:after {
  view-transition-name: current-page;
}

/* Old stuff going out */
::view-transition-old(current-page) {
}

/* New stuff coming in */
::view-transition-new(current-page) {
}

/* Playing with shaking the title when you're wrong
.h__title {
  view-transition-name: answer-title;
}
::view-transition-old(answer-title) {
  animation: shake 0.5s forwards;
}

::view-transition-new(answer-title) {
  animation: shake 0.7s reverse;
}
@keyframes shake {
  0% {
    opacity: 1;
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
*/
