/*==============================================================================
  Vars
  ============================================================================*/
:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;

  --padding-x: 16px;
  --border-radius: 12px;

  /* Theme specific */
  --color-bg-1: var(--gray-100);
  --color-bg-2: white;
  --color-text: var(--gray-900);
  --color-text-muted: var(--gray-500);
  --color-border: var(--gray-200);
  --color-radio: var(--gray-300);
  --color-accent: #1d4ed8;
  --color-success: #16a34a; /* green-600 */
  --color-error: #dc2626; /* red-600 */
}

/* Theme overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-1: var(--gray-950);
    --color-bg-2: var(--gray-800);
    --color-text: var(--gray-50);
    --color-text-muted: var(--gray-600);
    --color-border: var(--gray-700);
    --color-radio: var(--gray-600);
    --color-accent: #3b82f6;
    --color-success: #16a34a; /* green-500 */
    --color-error: #dc2626; /* red-600 */
  }
}

/*==============================================================================
  General
  ============================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: var(--color-accent);
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--color-bg-1);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/*==============================================================================
  Main, Footer, & Layout
  ============================================================================*/

footer {
  color: var(--color-text-muted);
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 16px;
  line-height: 1.3;
}

footer h1 {
  color: var(--color-text);
}

footer p {
  color: var(--color-text-muted);
}

footer a {
  color: inherit;
}

footer > * {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 900px) {
  :root {
    --padding-x: 24px;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 500px 340px 1fr;
    grid-template-areas: "col-l main footer col-r";
    align-items: center;
    padding: 0 16px;
  }
  footer {
    grid-area: footer;
  }
  main {
    grid-area: main;
    justify-self: flex-end;
    padding: 0px;
    max-width: 440px;
  }
}

.card {
  border-radius: var(--border-radius);
  box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
  background-color: var(--color-bg-2);
  overflow: hidden;
  width: 100%;
}

/*==============================================================================
  Social preview
  ============================================================================*/

.social-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}
.social-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.social-preview--masked .social-preview__content {
  opacity: 0.2;
}
.social-preview--masked p,
.social-preview--masked cite {
  background: var(--color-text);
  text-indent: -100%;
  width: 95%;
  overflow: hidden;
  border-radius: 4px;
}
.social-preview--masked cite {
  width: 30%;
}
.social-preview__content {
  padding: 16px var(--padding-x);
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  /* overflow: hidden; */
}
.social-preview__content p {
  font-weight: 700;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.social-preview__content cite {
  opacity: 0.5;
  line-height: 1;
}

/*==============================================================================
  Answers
  ============================================================================*/
.answers {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.answers > .answers__item:first-child,
.answers > li:first-child > .answers__item {
  border-top: none;
}
.answers__item {
  display: flex;
  gap: 8px;
  padding: 12px var(--padding-x) 12px 0px;
  margin-left: calc(var(--padding-x) * 3);
  border-top: 1px solid var(--color-border);
  color: inherit;
  text-decoration: none;
  line-height: 1.3;
  align-items: center;
  position: relative;
}

.answers__item svg {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  margin-left: auto;
  color: var(--color-radio);

  position: absolute;
  left: calc(var(--padding-x) * -2);
  top: 16px;
}
@media (min-width: 900px) {
  .answers__item {
    margin-left: calc(var(--padding-x) * 2);
  }
  .answers__item svg {
    left: calc(var(--padding-x) * -1);
  }
}

a.answers__item:before {
  border: 1px solid var(--color-border);
}
a.answers__item:hover,
a.answers__item:hover svg {
  color: var(--color-accent);
}
a.answers__item:hover:before {
  border-color: var(--color-accent);
}

.answers__item--correct,
.answers__item--correct svg {
  color: var(--color-success);
}
.answers__item--incorrect {
  color: var(--color-text-muted);
}
.answers__item--current.answers__item--incorrect,
.answers__item--current.answers__item--incorrect svg {
  color: var(--color-error);
  text-decoration: line-through;
}

/*==============================================================================
  Heading
  ============================================================================*/
.h {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0 0;
}

.h__title {
  flex-grow: 2;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h__title__status {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-muted);
}
.h__title--correct {
  color: var(--color-success);
}
.h__title--incorrect {
  color: var(--color-error);
}
.h__title__status__accuracy {
  color: var(--color-success);
}
.h__title__status__accuracy::before {
  content: "·";
  margin-left: 4px;
  margin-right: 4px;
}

/*==============================================================================
  Nav
  ============================================================================*/

.nav {
  display: flex;
  align-items: center;
  gap: 2px;
}

@media (min-width: 900px) {
  .nav {
    position: fixed;
    left: auto;
    flex-direction: column;

    top: 50%;
    transform: translateY(-50%) translateX(-264px);
  }
  .nav__arrow {
    transform: rotate(90deg);
  }
}
.nav a {
  text-decoration: none;
}
.nav__arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
}
.nav__arrow svg {
  width: 36px;
  height: 36px;
  color: var(--color-accent);
}
/* .nav__arrow--prev {
  margin-right: 4px;
}
.nav__arrow--next {
  margin-left: 4px;
} */
.nav__arrow:hover {
  top: -1px;
}

.nav__number {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav__number[aria-current="page"]:after {
  content: "";
  border-radius: 100px;
  border: 1.5px solid var(--color-accent);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
[data-answer-is-correct="true"] .nav__number[aria-current="page"]:after {
  border-color: var(--color-success);
}
[data-answer-is-correct="false"] .nav__number[aria-current="page"]:after {
  border-color: var(--color-error);
}

[data-answer-is-correct="true"] .nav__number[aria-current="page"] {
  color: var(--color-success);
}
[data-answer-is-correct="false"] .nav__number[aria-current="page"] {
  color: var(--color-error);
}
/* .social-preview {
  border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}
.answers {
  margin-top: -15px;
  border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
} */
