:root {
  --border-radius: 21px;
  --max-content-size: 400px;

  /* https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 0deg 0% 70%;
  --shadow-elevation-low: 0px 0.7px 0.8px hsl(var(--shadow-color) / 0.34),
    0px 1.1px 1.2px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 2.6px 2.9px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0px 0.7px 0.8px hsl(var(--shadow-color) / 0.36),
    0px 2.2px 2.5px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 5.4px 6.1px -1.7px hsl(var(--shadow-color) / 0.36),
    0px 13.1px 14.7px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0px 0.7px 0.8px hsl(var(--shadow-color) / 0.34),
    0px 3.8px 4.3px -0.4px hsl(var(--shadow-color) / 0.34),
    0px 7.1px 8px -0.7px hsl(var(--shadow-color) / 0.34),
    0px 11.7px 13.2px -1.1px hsl(var(--shadow-color) / 0.34),
    0px 18.7px 21px -1.4px hsl(var(--shadow-color) / 0.34),
    0px 29.3px 33px -1.8px hsl(var(--shadow-color) / 0.34),
    0.1px 44.5px 50.1px -2.1px hsl(var(--shadow-color) / 0.34),
    0.1px 65.6px 73.8px -2.5px hsl(var(--shadow-color) / 0.34);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f7f7f7;
}
h1,
h2,
h3,
p {
  margin: 0;
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-areas: "main header";
    align-items: center;
    padding: 0 96px;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
    gap: 24px;
  }
}

header > * {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

main > * {
  max-width: 400px;
}

main h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  gap: 24px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: #fff;
  box-shadow: var(--shadow-elevation-medium);
}

.social-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  /* border: 1px solid #e0e0e0; */
  box-shadow: 0 0 0 1px inset #e0e0e0;

  overflow: hidden;
  color: inherit;
  text-decoration: none;
}
.social-card__title {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 16px 16px 4px 16px;
  margin: 0;
}
.social-card__domain {
  padding: 0px 16px 16px 16px;
  font-size: 0.875rem;
  opacity: 0.5;
}

.answers-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.answers-list li {
}
.answers-list a {
  display: flex;
  padding: 8px 16px 8px 32px;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  color: inherit;
  text-decoration: none;
  line-height: 1.4;
}
.answers-list a:hover {
  background-color: #f7f7f7;
  border-color: blue;
}
